<br>
<div fxLayoutAlign="center center">

  <mat-card fxFlex.xs="100%" fxFlex.gt-md="80%" fxFlex.gt-sm="80%" fxFlex.gt-xs="90%" fxFlex="1200px">
    <mat-card-title>Users</mat-card-title>
    <div *ngIf="isLoading" class="loading-shade">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <mat-card-content >
      <section>
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
            <mat-cell *matCellDef="let user">{{ user.username }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef >Full Name</mat-header-cell>
            <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="viewposts" >
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell 
              *matCellDef="let user" 
              style="padding-top: 15px;" 
              fxLayoutAlign="flex-end">
              <a routerLink="/{{user.id}}/posts">
                View Posts
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
        <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
      </section>   
    </mat-card-content>
  </mat-card>
</div>


<!-- 
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.number}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let row">{{row.state}}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Created
        </th>
        <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div> -->